# Dependencies
node_modules

# SvelteKit
.svelte-kit

# Build output
build
dist

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log

# Cloudflare
.wrangler
.dev.vars
